@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background: #EEEFF1;
}
.header-first{
    margin-top: 79px;
}
.img-fluid{
    max-width: 96px;
    max-height: 60px;
}
nav a{
    font-size: 16px;
    text-decoration: none;
    color:#000000;
    padding-left: 42px;
}
nav a:hover{
    color: #34547A;
}
.header-first{
    display: flex;
    justify-content: space-around;
}
.nav{
    justify-content: space-between;
}
.section{
    display: flex;
    justify-content: space-around;
}
.text{
    flex-direction: column;
}
button{
    background-color: #34547A;
    color: white;
    border: none;
    min-width: 225px;
    min-height: 65px;
    margin-top: 60px;
}
p{
    color: #727272;
    font-size: 16px;
    line-height: 26px;
    max-height: 67px;
    max-width: 540px;
    margin-top: 60px;
}
h1{
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
    max-width: 541px;
    max-height: 45px;
}
.section{
    margin-top: 187px;
}